
form(name="input", action="/ingredient/create", method="POST")
  
	p Enter in an ingredient

	key Ingredient Name
	input(type = "text", name="Ingredient")

	key Cost
	input(type = "text",name = "Cost")


	input(type="submit", value="Submit")